@model NerdHerdAttempt1.Models.Dinner

@{ 

    Layout = null;
}


<!Doctype html>


<html>
<head>

    <title>Nerds Gotta Eat Too!!!</title>
</head>


<body>


    @{
        ViewBag.Title = "Create";
    }

    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="Editor-label">
                @Html.LabelFor(dinner => dinner.Title)


            </div>
            <div class="editor-field">
                @Html.TextBoxFor(dinner => dinner.Title)
                @Html.ValidationMessageFor(dinner => dinner.Title)

            </div>

            <div class="Editor-label">
                @Html.LabelFor(dinner => dinner.EventDate)


            </div>
            <div class="editor-field">
                @Html.TextBoxFor(dinner => dinner.EventDate)
                @Html.ValidationMessageFor(dinner => dinner.EventDate)

            </div>

            <div class="Editor-label">
                @Html.LabelFor(dinner => dinner.Address)


            </div>
            <div class="editor-field">
                @Html.TextBoxFor(dinner => dinner.Address)
                @Html.ValidationMessageFor(dinner => dinner.Address)

            </div>

            <div class="Editor-label">
                @Html.LabelFor(dinner => dinner.HostedBy)


            </div>
            <div class="editor-field">
                @Html.TextBoxFor(dinner => dinner.HostedBy)
                @Html.ValidationMessageFor(dinner => dinner.HostedBy)

            </div>

            <input type="submit" value="Create " />

        </fieldset>

    }



</body>
</html>


