@model ComicBookGallery.Models.ComicBook


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;



}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Page Dude</title>
</head>
<body>
    <div>*@
        <h1> @Model.SeriesTitle </h1> <br />
        <h3> @Model.DescriptionHTML</h3> <br />
        <h3> Issue #      @Model.IssueNumber</h3>

        <h1> Cost of Issue # @Model.IssueNumber is @Model.</h1>
        @if (@Model.Artists.Length > 0)
        {

            <h3>   Below are a List of contributing artists  </h3>
            <div>
                @foreach (var item in Model.Artists)
                {
                    <h3>    <li>  @item.Role: @item.Name  </li>   </h3>
                }

            </div>      

            }

    @*</div>
</body>

</html>*@
