@model ComicBookGallery.Models.ComicBook


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}







@*<!DOCTYPE html>*@

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details Page Dude</title>
    </head>
    <body>
        <div>*@


<h2> @Model.DisplayText  </h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>

            
            
             @if (@Model.Artists.Length > 0)
             {

                <h3>   Below are a List of contributing artists  </h3>
                <div>
                    @foreach (var item in Model.Artists)
                    {
                        <h3>    <li>  @item.Role: @item.Name  </li>   </h3>
                    }

                </div>

             }


        </div>
        <h5>Description</h5>
        <div>@Html.Raw(Model.DescriptionHTML)</div>


        <p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives...<strong>will Peter Parker?</strong></p>

        <img src="~/Images/colossus3.jpg"
             alt="Major Tough Guy" class="img-responsive" />
    </div>
    <div class="col-md-6">

        <img src="/Images/the-amazing-spider-man-700.jpg"
             alt="The Amazing Spider-Man #700" class="img-responsive" />




        @*<img src="/Images/the-amazing-spider-man-700.jpg"
             alt="The Amazing Spider-Man #700" class="img-responsive" />*@

        @*<img src="~/Images/colossus1.jpg"
             alt="Major Tough Guy" class="img-responsive" />*@
    </div>
</div>


@*<h1> @Model.SeriesTitle </h1> <br />
    <h3> @Model.DescriptionHTML</h3> <br />
    <h3> Issue #      @Model.IssueNumber</h3>

    <h1> Issue # @Model.IssueNumber is Now up for Sale!!!</h1>


    @if (@Model.Artists.Length > 0)
    {

        <h3>   Below are a List of contributing artists  </h3>
        <div>
            @foreach (var item in Model.Artists)
            {
                <h3>    <li>  @item.Role: @item.Name  </li>   </h3>
            }

        </div>

    }*@

@*</div>
    </body>

    </html>*@
