@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic BooK Detail";



}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Page Dude</title>
</head>
<body>
    <div>*@
        <h1> @ViewBag.SeriesTitle </h1> <br />
        <h3> @ViewBag.Desc</h3> <br />
        <h3> Issue #      @ViewBag.IssNum </h3>

        <h1> Cost of Issue # @ViewBag.IssNum is @ViewBag.Pea</h1>
        @if (@ViewBag.Artists.Length > 0)
        {

            <h3>   Below are a List of contributing artists  </h3>
            <div>
                @foreach (var item in ViewBag.Artists)
                {
                    <h3>    <li>  @item  </li>   </h3>
                }

            </div>
      

            }

    @*</div>
</body>

</html>*@
