@model IEnumerable<MVCDbasePrac2.Models.Burger>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BurgerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BurgerPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BurgerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BurgerPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BurgerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BurgerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BurgerId })
        </td>
    </tr>
}

</table>
